<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import json, pandas as pd
from pandas.io.json import json_normalize

In [2]:
data = []

with open('../data/file', 'r') as f:
    x = f.readlines()
    
for each in x:
    data.append(json.loads(each))

In [3]:
len(data)

20317

In [4]:
for e in data[:5]:
    print(e)
    print('\n')

{'id': {'val': 'e9c055d2855be197509960f4421b4aad', 'type': 'cookie'}, 'country': 'MY', 'region': 'apac', 'events': [{'tap': 'DEVICE', 'src': 'ldxsample1', 'subSrc': '5d837a59', 'ts': 1538622570, 'add': [14198103, 2296544, 14922803, 24730619, 8851947, 50377937]}]}


{'id': {'val': 'c664de8fc3e0e5d43ff78b8b0a1361d5', 'type': 'cookie'}, 'country': 'AU', 'region': 'apac', 'events': [{'tap': 'DEVICE', 'src': 'ldxsample1', 'subSrc': '08429d8d', 'ts': 1538622606, 'remove': [43204366, 48600739, 48600652, 49942953, 48600603, 50220790, 52417749, 37393150, 48600681]}]}


{'id': {'val': '814fbda5badcb4ca90c9919ba1ed0d66', 'type': 'cookie'}, 'country': 'TH', 'region': 'apac', 'events': [{'tap': 'DEVICE', 'src': 'ldxsample1', 'subSrc': '5d837a59', 'ts': 1538622654, 'add': [14198103, 2296544, 38413646, 8851947, 50377937]}]}


{'id': {'val': '3f3c84332a0ddb8ce54b91079f51b0df', 'type': 'cookie'}, 'country': 'AU', 'region': 'apac', 'events': [{'tap': 'DEVICE', 'src': 'ldxsample1', 'ts': 1538622682, 'remove': [55831346, 52020021, 55831343, 55831340, 49534890, 49534889, 55831337, 55831349, 49336905, 55831333, 55831332, 53157113, 53157112, 50662068, 55831361, 55831358, 50662012, 55831352, 55831334, 55831351]}]}


{'id': {'val': '35bd30e797b63d395b764bd2ab4ec51f', 'type': 'cookie'}, 'country': 'AU', 'region': 'apac', 'events': [{'tap': 'DEVICE', 'src': 'ldxsample1', 'subSrc': '08429d8d', 'ts': 1538622709, 'remove': [37392311, 37392308, 37392284, 37392285]}]}

In [5]:
df = json_normalize(data)

In [6]:
df['index'] = range(1, len(df)+1)

In [7]:
df.keys()

Index(['country', 'events', 'id.type', 'id.val', 'region', 'index'], dtype='object')

In [8]:
df = df[['index', 'country', 'id.val', 'id.type', 'events', 'region']]

In [9]:
xyz = df['events']

In [37]:
new_dict = []

for k, v in xyz.items():
    for each in v:
        new_dict.append(json.loads(json.dumps(each)))

In [38]:
dhadh = pd.DataFrame(new_dict)

In [39]:
dhadh.head(10)

,add,remove,src,subSrc,tap,ts
0,"[14198103, 2296544, 14922803, 24730619, 885194...",NaN,ldxsample1,5d837a59,DEVICE,1538622570
1,NaN,"[43204366, 48600739, 48600652, 49942953, 48600...",ldxsample1,08429d8d,DEVICE,1538622606
2,"[14198103, 2296544, 38413646, 8851947, 50377937]",NaN,ldxsample1,5d837a59,DEVICE,1538622654
3,NaN,"[55831346, 52020021, 55831343, 55831340, 49534...",ldxsample1,NaN,DEVICE,1538622682
4,NaN,"[37392311, 37392308, 37392284, 37392285]",ldxsample1,08429d8d,DEVICE,1538622709
5,NaN,"[36468506, 36468503, 36468761, 36468497, 50621...",ldxsample1,08429d8d,DEVICE,1538622729
6,NaN,"[51947213, 37392613, 51947208, 51947204, 51947...",ldxsample1,08429d8d,DEVICE,1538622769
7,NaN,"[49336954, 49533023, 49336924, 49336923, 49336...",ldxsample1,NaN,DEVICE,1538622795
8,NaN,"[33064675, 48600783, 33064658, 33064655, 48600...",ldxsample1,f3c940eb,DEVICE,1538622826
9,NaN,[25543257],ldxsample1,6fab4dd6,DEVICE,1538622840

In [8]:
df.head(10)

,index,country,id.val,id.type,events,region
0,1,MY,e9c055d2855be197509960f4421b4aad,cookie,"[{'tap': 'DEVICE', 'src': 'ldxsample1', 'subSr...",apac
1,2,AU,c664de8fc3e0e5d43ff78b8b0a1361d5,cookie,"[{'tap': 'DEVICE', 'src': 'ldxsample1', 'subSr...",apac
2,3,TH,814fbda5badcb4ca90c9919ba1ed0d66,cookie,"[{'tap': 'DEVICE', 'src': 'ldxsample1', 'subSr...",apac
3,4,AU,3f3c84332a0ddb8ce54b91079f51b0df,cookie,"[{'tap': 'DEVICE', 'src': 'ldxsample1', 'ts': ...",apac
4,5,AU,35bd30e797b63d395b764bd2ab4ec51f,cookie,"[{'tap': 'DEVICE', 'src': 'ldxsample1', 'subSr...",apac
5,6,JP,272f3e0366a5f1b1baf02ceba6db1504,cookie,"[{'tap': 'DEVICE', 'src': 'ldxsample1', 'subSr...",apac
6,7,IN,1aad914df78556c473874152932253ce,cookie,"[{'tap': 'DEVICE', 'src': 'ldxsample1', 'subSr...",apac
7,8,PH,60eeec1bdff59f1dec17922dafd803ac,cookie,"[{'tap': 'DEVICE', 'src': 'ldxsample1', 'ts': ...",apac
8,9,JP,d5cbbece39c6b121ff9307036aa3ea61,cookie,"[{'tap': 'DEVICE', 'src': 'ldxsample1', 'subSr...",apac
9,10,ID,854291c82229139353d3d28a408b3330,cookie,"[{'tap': 'DEVICE', 'src': 'ldxsample1', 'subSr...",apac

In [40]:
bla = json_normalize(new_dict)

In [41]:
bla.head(10)

,add,remove,src,subSrc,tap,ts
0,"[14198103, 2296544, 14922803, 24730619, 885194...",NaN,ldxsample1,5d837a59,DEVICE,1538622570
1,NaN,"[43204366, 48600739, 48600652, 49942953, 48600...",ldxsample1,08429d8d,DEVICE,1538622606
2,"[14198103, 2296544, 38413646, 8851947, 50377937]",NaN,ldxsample1,5d837a59,DEVICE,1538622654
3,NaN,"[55831346, 52020021, 55831343, 55831340, 49534...",ldxsample1,NaN,DEVICE,1538622682
4,NaN,"[37392311, 37392308, 37392284, 37392285]",ldxsample1,08429d8d,DEVICE,1538622709
5,NaN,"[36468506, 36468503, 36468761, 36468497, 50621...",ldxsample1,08429d8d,DEVICE,1538622729
6,NaN,"[51947213, 37392613, 51947208, 51947204, 51947...",ldxsample1,08429d8d,DEVICE,1538622769
7,NaN,"[49336954, 49533023, 49336924, 49336923, 49336...",ldxsample1,NaN,DEVICE,1538622795
8,NaN,"[33064675, 48600783, 33064658, 33064655, 48600...",ldxsample1,f3c940eb,DEVICE,1538622826
9,NaN,[25543257],ldxsample1,6fab4dd6,DEVICE,1538622840

In [10]:
df.to_csv('./finos.csv', index=False)

In [17]:
df_agg = df['country'].value_counts()

In [25]:
counts = df_agg.to_frame(name='counts')

In [28]:
counts.index.name = 'country'

In [29]:
counts.to_csv('./counts.csv')

In [3]:
import csv, time
from sqlalchemy import create_engine

In [2]:
engine = create_engine('sqlite:///../data/reddit-comments-may-2015/database.sqlite')
connection = engine.connect()

In [3]:
result = connection.execute('''SELECT name FROM sqlite_master
WHERE type='table'
ORDER BY name;''')

In [4]:
for table in result:
    print(table)

('May2015',)

In [5]:
result = connection.execute('''SELECT * FROM May2015;''')

In [6]:
headers = [col for col in result.keys()]
headers

['created_utc',
 'ups',
 'subreddit_id',
 'link_id',
 'name',
 'score_hidden',
 'author_flair_css_class',
 'author_flair_text',
 'subreddit',
 'id',
 'removal_reason',
 'gilded',
 'downs',
 'archived',
 'author',
 'score',
 'retrieved_on',
 'body',
 'distinguished',
 'edited',
 'controversiality',
 'parent_id']

In [7]:
result = connection.execute('''SELECT COUNT(id) as counts FROM May2015''')

In [8]:
rows = result.first()[0]

In [10]:
number = .1 * rows

In [11]:
number

5450441.0

In [12]:
# result = connection.execute('''SELECT * FROM May2015 LIMIT (?)''', (number))
result = connection.execute('''SELECT * FROM May2015 LIMIT (?)''', (number))

In [13]:
start = time.time()
data = []

for each in result:
    data.append(each)

print('Time taken to extract: {}mins {}secs'.format((time.time() - start) / 60, (time.time() - start) % 60))

Time taken to extract: 1.0278333346048991

In [14]:
connection.close()
len(data)

5450441

In [14]:
data[1]

(1430438400, 4, 't5_2qo4s', 't3_34g8mx', 't1_cqug90h', 0, 'Heat', 'Heat', 'nba', 'cqug90h', None, 0, 0, 0, 'WyaOfWade', 4, 1432703079, "gg this one's over. off to watch the NFL draft I guess", None, 0, 0, 't3_34g8mx')

In [15]:
start = time.time()

with open('./reddit_10%.csv', 'w', encoding='utf-8', newline='') as csvfile:
    writer = csv.writer(csvfile, delimiter=',')
    writer.writerow(headers)
    
    for each in data:
        writer.writerow(each)

print('Time taken to write csv: {}mins {}secs'.format((time.time() - start) / 60, (time.time() - start) % 60))

Time taken to write csv: 0.7325166662534078mins 43.95099997520447secs

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('./reddit.csv')
data.head(20)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3049: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,created_utc,ups,subreddit_id,link_id,name,score_hidden,author_flair_css_class,author_flair_text,subreddit,id,...,downs,archived,author,score,retrieved_on,body,distinguished,edited,controversiality,parent_id
0,1430438400,4,t5_378oi,t3_34di91,t1_cqug90g,0,NaN,NaN,soccer_jp,cqug90g,...,0,0,rx109,4,1432703079,くそ\n読みたいが買ったら負けな気がする\n図書館に出ねーかな,NaN,0,0,t3_34di91
1,1430438400,4,t5_2qo4s,t3_34g8mx,t1_cqug90h,0,Heat,Heat,nba,cqug90h,...,0,0,WyaOfWade,4,1432703079,gg this one's over. off to watch the NFL draft...,NaN,0,0,t3_34g8mx
2,1430438400,0,t5_2cneq,t3_34f7mc,t1_cqug90i,0,NaN,NaN,politics,cqug90i,...,0,0,Wicked_Truth,0,1432703079,Are you really implying we return to those tim...,NaN,0,0,t1_cqufim0
3,1430438400,3,t5_2qh1i,t3_34f9rh,t1_cqug90j,0,NaN,NaN,AskReddit,cqug90j,...,0,0,jesse9o3,3,1432703079,No one has a European accent either because i...,NaN,0,0,t1_cqug2sr
4,1430438400,3,t5_2qh1i,t3_34fvry,t1_cqug90k,0,NaN,NaN,AskReddit,cqug90k,...,0,0,beltfedshooter,3,1432703079,"That the kid ""..reminds me of Kevin."" so sad...",NaN,0,0,t3_34fvry
5,1430438400,1,t5_31k9i,t3_34gitq,t1_cqug90l,0,NaN,NaN,bloodborne,cqug90l,...,0,0,Rubenticus,1,1432703079,"Haha, i was getting nauseous from it, if that ...",NaN,0,0,t1_cqug10q
6,1430438400,6,t5_2qjvn,t3_34fpen,t1_cqug90m,0,NaN,NaN,relationships,cqug90m,...,0,0,silverraven1189,6,1432703079,"After reading this, I wholeheartedly believe y...",NaN,0,0,t1_cqu8cmw
7,1430438400,2,t5_2s5fm,t3_34e7uq,t1_cqug90n,0,Titan3,NaN,Tennesseetitans,cqug90n,...,0,0,Scrubtanic,2,1432703079,Let's do this. See you guys on the other side.,moderator,0,0,t3_34e7uq
8,1430438400,6,t5_2r090,t3_34gcwh,t1_cqug90o,0,T10B10,[Philly],cigars,cqug90o,...,0,0,burnmyiz,6,1432703079,You can buy a mystery sampler from small batch...,NaN,0,0,t3_34gcwh
9,1430438400,5,t5_2sqho,t3_34gmag,t1_cqug90p,0,fan vp,Virtus.pro Fan,GlobalOffensive,cqug90p,...,0,0,BEE_REAL_,5,1432703079,Nihilum and LG are significantly better off in...,NaN,0,0,t3_34gmag
10,1430438400,4,t5_2qi5w,t3_34gmq6,t1_cqug90q,0,modernbird,NaN,eagles,cqug90q,...,0,0,SNVG,4,1432703079,Fuck that what,NaN,0,0,t3_34gmq6
11,1430438400,1,t5_2qiep,t3_34eznn,t1_cqug90r,0,FZeroLogo,3024-7470-9499 NNID is my nick -&gt;,smashbros,cqug90r,...,0,0,BiigLord,1,1432703079,Don't diss the Grim Puncher!,NaN,0,0,t1_cqu4f8j
12,1430438400,1,t5_2sqw4,t3_3479aj,t1_cqug90s,0,NaN,NaN,makinghiphop,cqug90s,...,0,0,KingEze,1,1432703079,Your 16 bars seems to focus on introducing you...,NaN,0,0,t1_cqs3tw2
13,1430438400,3,t5_32byj,t3_34g2ci,t1_cqug90t,0,NaN,NaN,GoogleCardboard,cqug90t,...,0,0,cyborek,3,1432703079,Trinus vr is amazing but it'd be cool to be ab...,NaN,0,0,t1_cqucws5
14,1430438400,14,t5_2ranw,t3_34f8k8,t1_cqug90u,0,NaN,NaN,offmychest,cqug90u,...,0,0,Zekkystyle,14,1432703079,It's not your fault don't think that. Hey if t...,NaN,0,0,t1_cqu2nwo
15,1430438400,3,t5_2qn90,t3_34gj3a,t1_cqug90v,0,brisbane-broncos,Brisbane Broncos,nrl,cqug90v,...,0,0,jeauxoxo,3,1432703079,http://www.reddit.com/comments/125gb1/some_of_...,NaN,0,0,t1_cqufyef
16,1430438400,0,t5_2tqi0,t3_34g58c,t1_cqug90w,0,NaN,NaN,elderscrollsonline,cqug90w,...,0,0,Chainsaw_Ninja,0,1432703079,and what about all of the players who hit vr 1...,NaN,0,0,t1_cquegpk
17,1430438400,5,t5_2qtwb,t3_34fmtj,t1_cqug90x,0,NaN,DO NOT WANT,childfree,cqug90x,...,0,0,tparkelaine,5,1432703079,I would be tempted to excuse myself to the bat...,NaN,0,0,t3_34fmtj
18,1430438400,1,t5_319jr,t3_34ga1g,t1_cqug90y,0,week4,28 days,ExNoContact,cqug90y,...,0,0,vvvvfl,1,1432703079,I can't answer better than Acquittal. \n\nI ju...,NaN,0,0,t1_cqud8qx
19,1430438400,5,t5_2qh1i,t3_34ffo5,t1_cqug90z,0,NaN,NaN,AskReddit,cqug90z,...,0,0,InterimFatGuy,5,1432703079,NSFL,NaN,0,0,t1_cqu80zb